# Ignore everything in these directories
Limitless_project/Models/*
Limitless_project/Offline_lib_doc/*
Limitless_project/Offline_lib_vector/*

Limitless_projectLimitless_main/__pycache__/*
Limitless_project/Limitless_main/llm/__pycache__/*

Documents/*

# Ignore these files
# Example_file.txt

# Exclude these files from being ignored
# !/Documents/Example_file.txt




